.side-bar
  .header
    %h3.header__name
      = current_user.name
    = link_to edit_user_path(current_user) do
      %i.fa.fa-cog.icon.fa-fw
    = link_to new_group_path do
      %i.fa.fa-edit.icon.fa-fw
  .groups
    .group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group), {style: "text-decoration: none;"} do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
